@import "~bootstrap/scss/bootstrap";

body {
    background-color: #ffffff;
}

.contribution-wrapper {
    text-align: center;
    font-size: 1.5rem;

    .contribution-count {
        font-size: 5rem;
        display: block;
    }
}