body {
    font-family: Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

.header {
    background-image: url('https://dvm6cq6s9d8qb.cloudfront.net/com.sfhackday/sfbackground.jpg');
    background-repeat: no-repeat;
    background-position: center 30%;
    @media (min-width: 700px) {
        background-size: cover;
    }
    .container .row {
        @media (max-height: 1250px) {
            min-height: 40vh;
        }
        @media (min-height: 1251px) {
            height: 500px;
        }
    }
}

.contribution-wrapper {
    background-color: transparentize(#ffffff, 0.3);
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;

    .contribution-count {
        font-size: 5rem;
        display: block;
    }
}

.main-content {
    h1 {
        color: #223152;
        @media (min-width: 700px) {
            font-size: 3rem;
        }
    }

    h2 {
        color: #223152;
        margin-top: 2.5rem;
    }
}